<?xml version="1.0"?>
<configuration>
  <configSections>
	<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KiasSvc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SessionTimeMinutes" value="20"/>
    <add key="IsTrakingHistoryActive" value="true"/>
    <add key="CountHistoryRequest" value="50"/>
    <add key="PathToPrinterCGI" value="http://localhost:8080/KiasPrintSvc/kiasWebPrint.exe"/>
    <add key="LicenseMapPath" value="~/License/KiasLicenseWeb.dat"/>
    <add key="LengthOfOutputXML" value="100000"/> 
    <add key="IsLoggingEnabled" value="true"/> 
    <add key="AddFileDataToLog" value="true"/>
    <add key="AddPrintFormToLog" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="OraConnectionString" connectionString="Data Source=10.79.32.194;SID=WEBDEV;Port=1521;Persist Security Info=True;User ID=INET;Password=INET;Pooling=False;Direct=true;" providerName="System.Data.Oracle"/>
  </connectionStrings>
  <system.web>                                                                  
    
    <httpRuntime maxRequestLength="20000000" executionTimeout="60" />
    <!-- 
            Значение параметра compilation debug="true" означает, что в компилированную страницу будут вставлены 
            отладочные символы. Так как этот 
            параметр влияет на производительность, следует задавать для него значение True 
            только на этапе разработки.
        -->
    <compilation debug="false" targetFramework="4.0"/>
    <!--
            Раздел <authentication> позволяет настроить параметры 
            режима проверки подлинности, используемого ASP.NET для проверки 
            подлинности пользователя, запрашивающего разрешение на доступ. 
        -->
    <!--
            Раздел <customErrors> позволяет настраивать 
            параметры действий на случай возникновения необработанных ошибок 
            во время выполнения запроса. А именно, 
            он позволяет разработчикам настраивать HTML-страницы 
            с сообщениями об ошибках, которые будут отображаться вместо трассировки стека ошибок.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <httpHandlers>
      <add verb="*" path="GetErrorRequests.ashx" type="KiasSvc.GetErrorRequests, KiasSvc"/>
      <add verb="*" path="CheckService.ashx" type="KiasSvc.CheckServiceHandler, KiasSvc"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        Раздел system.webServer требуется для работы ASP.NET AJAX в
        Internet Information Services 7.0.  Он не требуется для более ранней версии IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <applicationSettings>
    <KiasSvc.Properties.Settings>
      <setting name="KiasSvc_selfSvc_kiasSvc" serializeAs="String">
        <value>http://192.168.0.121/kiasSvc/kiasSvc.asmx</value>
      </setting>
    </KiasSvc.Properties.Settings>
  </applicationSettings>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
		<extensions>
			<add assembly="NLog.Targets.Http" />
		</extensions>
		<targets>
			<target name='httpLogger'  
				type='HTTP'
				URL='https://frontqq.inslab.ru/tgate'
				Method='POST'
				BatchSize='1'
				MaxQueueSize='2147483647'
				IgnoreSslErrors='true'
				FlushBeforeShutdown='true'
				ContentType='application/json'
				Accept='application/json'
				DefaultConnectionLimit='2'
				Expect100Continue='false'
				UseNagleAlgorithm='true'
				ConnectTimeout='10000'
				InMemoryCompression='true'
				layout='{"sid":"${event-properties:item=Sid}", "user_isn":"${event-properties:item=UserIsn}", "user_login":"${event-properties:item=UserLogin}", "proc_name":"${event-properties:item=ProcName}", "request_dt":"${event-properties:item=ReqDate:format=yyyy-MM-ddTHH\:mm\:ss.fffK}", "response_dt":"${event-properties:item=RespDate:format=yyyy-MM-ddTHH\:mm\:ss.fffK}", "time_elapsed":"${event-properties:item=Elapsed}", "request":"${event-properties:item=Request}","response":"${event-properties:item=Response}"}'
				/>
		</targets>
		<rules>
			<logger name="httpLogger" rulename="httpLogger" minlevel="Debug" maxlevel="Debug" writeTo="httpLogger" />
		</rules>
	</nlog>

</configuration>